.hamburguer{
  height: 45px;
  width: 45px;
  position: relative;

  .ham-bar {
    width: 70%;
    height: 2px;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.6s, opacity 0.8s, top 0.6s;
  }

  .bar-top {
    top: 25%;
  }
  
  .bar-bot {
    top: 75%;
  }

  &.active .bar-top {
    transform: translate(-50%, -50%) rotate(-315deg);
    top: 50%;
  }
  &.active .bar-mid {
    opacity: 0;
  }
  &.active .bar-bot {
    transform: translate(-50%, -50%) rotate(-225deg);
    top: 50%;
  }
}